.sms-feature-box-with-overlay figure{
  position:relative;
  margin:0;
  margin-bottom:20px;
  padding-bottom:0;
  overflow:hidden;
  background:#000;
} 
.sms-feature-box-with-overlay figure img{
  width:100%;
  display:block;
  position:relative;
  -webkit-transition:-webkit-transform 0.5s .05s ease,opacity 0.3s;
  transition: transform 0.5s .05s ease,opacity 0.3s;
  opacity:1;
}
.sms-feature-box-with-overlay figcaption{
  position:absolute;
  left:0;
  width:100%;
  padding:20px;
  box-sizing:border-box;
  text-align:center;
  top:auto;
  bottom:0;
 opacity:1;
  padding:5px;
  background:#212B33;
  color:#fff;
} 
.sms-feature-box-with-overlay figcaption p{
  padding:0;
} 
.sms-feature-box-with-overlay figcaption h3{
  margin:0;
  margin-bottom:2px;
  font-size: 100%;
} 
.sms-feature-box-with-overlay figure:hover img{
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
  opacity:.5;
  -webkit-transform-origin:center center;
  -moz-transform-origin:center center;
  -o-transform-origin:center center;
  transform-origin:center center;
} 
.sms-feature-box-with-overlay figure:hover a{
  color:#fff !important;
} 

.sms-feature-box-with-overlay figcaption a{
  color:#d8edf3 !important;
} 
.sms-feature-box-with-overlay figcaption:hover figcaption{
  opacity:1;
} 
.sms-feature-box-with-overlay .triangle{
  display:block;
  width:50px;
  height:50px;
  position:absolute;
  top:-49px;
  left:50%;
  margin-left:-25px;
  overflow:hidden;
  -ms-transform:scale(.8,1);
  -moz-transform:scale(.8,1);
  -webkit-transform:scale(.8,1);
  transform:scale(.8,1);
} 
.sms-feature-box-with-overlay .triangle:after{
  content:"";
  position:absolute;
  width:25px;
  height:25px;
  background:#212B33;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  transform:rotate(45deg);
  top:37.5px;
  left:50%;
  margin-left:-12.5px;
  box-shadow:-1px -1px 10px -2px rgba(0,0,0,0.5);
} 
.sms-feature-box-with-overlay figure{
  -webkit-transition:box-shadow 1s;
  -moz-transition:box-shadow 1s;
  transition:box-shadow 1s;
} 
.sms-feature-box-with-overlay figure > a{
  display:block;
  color:#fff;
} 
.sms-feature-box-with-overlay figure > a:after{
  display:block;
  position:absolute;
  width:100%;
  height:40px;
  top:50%;
  margin-top:-40px;
  -webkit-transition:all 0.5s .2s;
  -moz-transition:all 0.5s .2s;
  -o-transition:all 0.5s .2s;
  transition:all 0.5s .2s;
  content:'learn more';
  font-size:40px;
  line-height:40px;
  font-weight:100;
  text-align:center;
  opacity:0;
} 
.sms-feature-box-with-overlay figure > a:hover:after{
  opacity:1;
} 